
/*
 * COMPONENT: CONSOLE-SIDEBAR
 */
#component.consoleSidebar .ui.menu {
  border-radius: 0;
  background: rgba(27, 27, 27, 0.96);
}
#component.consoleSidebar .ui.menu .item {
  border-radius: 0;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer !important;
}
#component.consoleSidebar .ui.menu .item.disabled {
  cursor: default !important;
}
#component.consoleSidebar .ui.menu .item:last-child {
  border-bottom: 1px solid rgba(43, 43, 43, 0.96);;
}
#component.consoleSidebar .ui.menu .item .label {
  padding: 2px 4px;
  top: 3px;
  left: 36px;
}

/*
 * COMPONENT: CONSOLE-SIDEBAR-PANEL
 */
#component.consoleSidebarPanel {
  width: 0px;
  opacity: 0;
  transition: width 0.420s, opacity 0.35s ease-in;
  padding: 4px 0 4px 4px;
  overflow: hidden;
}
#component.consoleSidebarPanel .ui.menu .item {
  cursor: pointer !important;
}
#component.consoleSidebarPanel .ui.menu {
  background: rgba(26, 27, 28, 0.96);
  margin: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#component.consoleSidebarPanel .spiritContent div.spiritBackground {
  background-color: rgba(19, 10, 0, 1);
}

#component.consoleSidebarPanel .spiritContent .level {
  text-align: center;
  background-color: rgba(19, 10, 0, 1);
}

#component.consoleSidebarPanel .spiritContent .ui.progress {
  margin-top: 8px;
}
#component.consoleSidebarPanel .spiritContent .ui.progress .bar {
  background-color: rgba(100, 53, 201, 0.96);
}

#component.consoleSidebarPanel .spiritContent .ui.progress .label,
#component.consoleSidebarPanel .badgesContent {
  white-space: nowrap;
}

#component.consoleSidebarPanel .spiritContent .rageButton {
  transition: background, color .840s ease-out;
  background: rgba(72, 72, 72, 0.96);
  color: red;
}

#component.consoleSidebarPanel .spiritContent .flameRating {
  background: rgba(222, 222, 222, 0.96);
  color: rgba(100, 100, 100, 0.96);
}


#component.consoleSidebarPanel .spiritContent .rageButton:hover {
  background: rgba(100, 100, 100, 0.96);
}


#component.consoleSidebarPanel .spiritContent .yayButton {
  transition: background, color .840s ease-out;
  background: rgba(72, 72, 72, 0.96);
  color: purple;
}

#component.consoleSidebarPanel .spiritContent .yayButton:hover {
  background: rgba(100, 100, 100, 0.96);
}
