

/*
 * COMPONENT: CONSOLE-MENU
 */
#component.consoleMenu .ui.menu {
  background: rgba(27, 27, 27, 0.96);
  border-radius: 0;
  font-size: 12px;
  min-height: 28px;
  margin: 0 0px;
}
#component.consoleMenu .ui.menu .item {
  transition: background 0.420s ease-out;
  padding: 0px 12px 0px 10px;
  border-radius: 0;
}
#component.consoleMenu .ui.menu .item.disabled,
#component.consoleMenu .ui.menu .menu.right .item.disabled {
  cursor: default !important;
}
#component.consoleMenu .ui.menu .item,
#component.consoleMenu .ui.menu .menu.right .item {
  cursor: pointer !important;
}
#component.consoleMenu .ui.menu .item:first-child {
  padding-left: 5px;
  padding-right: 4px;
  border-top: 1px solid rgba(42, 42, 42, 0.96);
  cursor: default !important;
}
#component.consoleMenu .ui.menu .item .icon {
  font-size: 14px;
  margin-right: 4px;
}
#component.consoleMenu .ui.menu .item.networkConnect .icon {
  color: rgba(27, 175, 26, 0.96) !important;
}
#component.consoleMenu .right.menu .item:first-child {
  padding-left: 10px;
}
#component.consoleMenu .right.menu .item {
  padding-right: 6px;
}
#component.consoleMenu .right.menu .item i {
  margin-right: 0px;
}
