
/*
 * COMPONENT: JOURNAL-ENTRY
 */
#component.journalEntry .ui.segment {
  padding: 4px;
}
#component.journalEntry .ui.grid .column {
  padding: 0px 5px 0px 14px;
}
#component.journalEntry .ui.grid .column:nth-child(2) {
  padding: 0px 5px 0px 4px;
}
#component.journalEntry .ui.grid .column:nth-child(3) {
  padding: 0px 14px 0px 4px;
}
#component.journalEntry .ui.dropdown .default.text {
  font-style: italic;
  color: rgba(222, 222, 222, 0.96);
}
#component.journalEntry .ui.dropdown {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
#component.journalEntry .ui.dropdown input {
  color: rgba(222, 222, 222, 0.96);
}
#component.journalEntry .ui.dropdown div.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#component.journalEntry .ui.dropdown .menu {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border-color: rgba(72, 72, 72, 0.96);
}
#component.journalEntry .column.focused .ui.dropdown {
  border: 1px solid rgba(100, 53, 201, 0.96);
}
#component.journalEntry .column.focused .ui.dropdown .menu {
  border: 1px solid rgba(100, 53, 201, 0.96);
}
#component.journalEntry .ui.selection.dropdown .menu>.item {
  transition: background, color 0.420s ease-out;
  border-top: 1px solid rgba(72, 72, 72, 0.96);
  color: rgba(100, 100, 100, 0.96);
}
#component.journalEntry .ui.selection.dropdown .menu>.item:last-child {
  border-bottom: 1px solid rgba(72, 72, 72, 0.96);
}
#component.journalEntry .ui.selection.dropdown .menu>.item:hover {
  background: #2b2b2b;
  font-weight: 800;
  color: rgba(200, 200, 200, 0.96);
}
#component.journalEntry .ui.selection.dropdown .menu>.selected.item {
  background:rgba(100, 53, 201, 0.96);
  color: rgba(255, 255, 255, 0.96);
}
#component.journalEntry .ui.input.intentionText input {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
  border-right-width: 0px;
  color: rgba(241, 241, 241, 0.96);
}
#component.journalEntry .ui.input.intentionText input:focus {
  border: 1px solid rgba(100, 53, 201, 0.96);
  border-right-width: 0px;
}
#component.journalEntry .ui.input.intentionText input::placeholder {
  font-style: italic;
  color: rgba(100, 100, 100, 0.96)
}
#component.journalEntry .ui.input.intentionText .ui.button {
  transition: background, color .840s ease-out;
  background: rgba(72, 72, 72, 0.96);
  color: rgba(187, 187, 187, 0.96);
  border: none;
}
#component.journalEntry .column .ui.input.intentionText .ui.button {
  transition: background .840s ease-out;
}
#component.journalEntry .column.focused .ui.input.intentionText .ui.button {
  background: rgba(100, 53, 201, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: none;
}
