


/*
 * COMPONENT: TROUBLESHOOT-LAYOUT
//  */
// #component.troubleshootLayout #wrapper.troubleshootItems {
//   margin: 0px;
//   padding: 4px 1px;
// }
//
// #component.troubleshootLayout #wrapper.troubleshootPanelDefault {
//   margin: 0px;
//   padding: 21px 9px 0 9px;
// }

.wtf {
  h1 {
    text-align: center;
  }
}

.problem-description {
  background-color: #f00;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  padding: 10px;
}

.troubleshoot-start {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.add-problem {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-end;
}

input {
  flex: 1;
}

// .troubleshoot-screenshot {
//   background-image: url("screenshot.png");
//   width: 80vw;
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin-left: 10px;
// }


/*
 * COMPONENT: TROUBLESHOOT-PANEL-DEFAULT
 */
#component.troubleshootPanelDefault .ui.grid{
  margin-bottom: -2rem;
}
#component.troubleshootPanelDefault .ui.grid .column.rootLayout {
  padding-top: 0;
  padding-bottom: 0;
}
#component.troubleshootPanelDefault .ui.grid .column.rootLayout.screenshot {
  padding-right: 1rem;
}
#component.troubleshootPanelDefault .ui.grid > .row {
  padding-bottom: 0;
}
#component.troubleshootPanelDefault .ui.button {
  cursor: pointer !important;
  transition: background-color 1s ease-out;
}
#component.troubleshootPanelDefault .ui.image.screenshot,
#component.troubleshootPanelDefault .ui.image.screenshot .ui.corner,
#component.troubleshootPanelDefault .ui.image.screenshot .ui.corner .icon
{
  cursor: pointer !important;
  padding-bottom: 0;
}


#component.troubleshootPanelDefault .ui.dropdown .default.text {
  font-style: italic;
  color: rgba(60, 60, 60, 0.96);
}
#component.troubleshootPanelDefault .ui.dropdown {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .ui.dropdown input {
  color: rgba(222, 222, 222, 0.96);
}

#component.troubleshootPanelDefault .ui.dropdown div.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#component.troubleshootPanelDefault .ui.dropdown .menu {
  max-height: 147px;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border-color: rgba(72, 72, 72, 0.96);
}
#component.troubleshootPanelDefault .focused .ui.dropdown {
  /*border: 1px solid rgba(100, 53, 201, 0.96);*/
  border: 1px solid red;
}
#component.troubleshootPanelDefault .focused .ui.dropdown .menu {
  /*border: 1px solid rgba(100, 53, 201, 0.96);*/
  border: 1px solid red;
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item {
  transition: background, color 0.420s ease-out;
  border-top: 1px solid rgba(72, 72, 72, 0.96);
  color: rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item:last-child {
  border-bottom: 1px solid rgba(72, 72, 72, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item:hover {
  background: #2b2b2b;
  font-weight: 800;
  color: rgba(200, 200, 200, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.selected.item {
  /*background:rgba(100, 53, 201, 0.96);*/
  background: red;
  color: rgba(255, 255, 255, 0.96);
}
#component.troubleshootPanelDefault .ui.grid > .row.troubleshootPanelTextbox {
  /*padding-bottom: 10px;*/
  padding-top: 0;
}
#component.troubleshootPanelDefault .troubleshootPanelTextbox {
  width: 100%;
  height: 100%;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .troubleshootPanelMessage {
  height: 100%;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  padding: 0 0 0 2rem;
}
.troubleshootPanelTextbox::-webkit-input-placeholder {
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox:-moz-placeholder { /* Firefox 18- */
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox::-moz-placeholder {  /* Firefox 19+ */
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox:-ms-input-placeholder {
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}

#component.headerBar .headerTitle {
  text-align: left;
  font-weight: 400;
  font-size: 20pt;
}

#troubleshootChatInput {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
  color: rgba(241, 241, 241, 0.96);
}

#chatMessages{
  overflow-y: scroll;
  overflow-x: hidden;
}

#chatMessages > ul > li {
  list-style-type: none;
}

div .ui.inverted.segment.troubleshootChatBox {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
