// we'll eventually get all the colors and units here



//legacy base stuff

@keyframes fadein {
  //fading both the color opacity and the element opacity makes me think someone was flailing trying to make fadein look nicer
  from {
    background: rgba(27, 28, 29, 0.0);
    opacity: 0;
  }
  to {
    background: rgba(27, 28, 29, 0.96);
    opacity: 0.2;
  }
}

div#root {
  cursor: default !important;
  height: 100%;
  background: #1b1c1d;
  animation: fadein 0.420s;
  box-sizing: border-box;
  border-top: 1px solid rgba(36, 36, 36, 0.96);
  border-left: 1px solid rgba(36, 36, 36, 0.96);
  border-right: 1px solid rgba(67, 67, 67, 0.96);
  border-bottom: 1px solid rgba(67, 67, 67, 0.96);
}
a,.ui.button {
  cursor: default !important;
}
html, body.console {
    background: #1b1c1d;
}
body {
  overflow: hidden;
}
