


/*
 * COMPONENT: CONSOLE-LAYOUT
 */
#component.consoleLayout #wrapper.consoleSidebar {
  float: left;
  position: relative;
  padding: 0px 0px 0px 0px;
}
#component.consoleLayout #wrapper.consoleSidebarPanel {
  float: left;
  position: relative;
  transition: width 0.420s;
  width: 0px;

}
#component.consoleLayout #wrapper.consoleContent {
  padding: 4px;
  position: relative;
  overflow: hidden;
  left: 0px;
}
#component.consoleLayout #wrapper.consoleMenu {
  padding: 0px 0px;
  position: relative;
  float: left;
  width: 100%;
}

/*
 * COMPONENT: CONSOLE-SIDEBAR
 */
#component.consoleSidebar .ui.menu {
  border-radius: 0;
  background: rgba(27, 27, 27, 0.96);
}
#component.consoleSidebar .ui.menu .item {
  border-radius: 0;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer !important;
}
#component.consoleSidebar .ui.menu .item.disabled {
  cursor: default !important;
}
#component.consoleSidebar .ui.menu .item:last-child {
  border-bottom: 1px solid rgba(43, 43, 43, 0.96);;
}
#component.consoleSidebar .ui.menu .item .label {
  padding: 2px 4px;
  top: 3px;
  left: 36px;
}

/*
 * COMPONENT: CONSOLE-SIDEBAR-PANEL
 */
#component.consoleSidebarPanel {
  width: 0px;
  opacity: 0;
  transition: width 0.420s, opacity 0.35s ease-in;
  padding: 4px 0 4px 4px;
  overflow: hidden;
}
#component.consoleSidebarPanel .ui.menu .item {
  cursor: pointer !important;
}
#component.consoleSidebarPanel .ui.menu {
  background: rgba(26, 27, 28, 0.96);
  margin: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#component.consoleSidebarPanel .spiritContent div.spiritBackground {
  background-color: rgba(19, 10, 0, 1);
}

#component.consoleSidebarPanel .spiritContent .level {
  text-align: center;
  background-color: rgba(19, 10, 0, 1);
}

#component.consoleSidebarPanel .spiritContent .ui.progress {
  margin-top: 8px;
}
#component.consoleSidebarPanel .spiritContent .ui.progress .bar {
  background-color: rgba(100, 53, 201, 0.96);
}

#component.consoleSidebarPanel .spiritContent .ui.progress .label,
#component.consoleSidebarPanel .badgesContent {
  white-space: nowrap;
}

#component.consoleSidebarPanel .spiritContent .rageButton {
  transition: background, color .840s ease-out;
  background: rgba(72, 72, 72, 0.96);
  color: red;
}

#component.consoleSidebarPanel .spiritContent .flameRating {
  background: rgba(222, 222, 222, 0.96);
  color: rgba(100, 100, 100, 0.96);
}


#component.consoleSidebarPanel .spiritContent .rageButton:hover {
  background: rgba(100, 100, 100, 0.96);
}


#component.consoleSidebarPanel .spiritContent .yayButton {
  transition: background, color .840s ease-out;
  background: rgba(72, 72, 72, 0.96);
  color: purple;
}

#component.consoleSidebarPanel .spiritContent .yayButton:hover {
  background: rgba(100, 100, 100, 0.96);
}



/*
 * COMPONENT: CONSOLE-MENU
 */
#component.consoleMenu .ui.menu {
  background: rgba(27, 27, 27, 0.96);
  border-radius: 0;
  font-size: 12px;
  min-height: 28px;
  margin: 0 0px;
}
#component.consoleMenu .ui.menu .item {
  transition: background 0.420s ease-out;
  padding: 0px 12px 0px 10px;
  border-radius: 0;
}
#component.consoleMenu .ui.menu .item.disabled,
#component.consoleMenu .ui.menu .menu.right .item.disabled {
  cursor: default !important;
}
#component.consoleMenu .ui.menu .item,
#component.consoleMenu .ui.menu .menu.right .item {
  cursor: pointer !important;
}
#component.consoleMenu .ui.menu .item:first-child {
  padding-left: 5px;
  padding-right: 4px;
  border-top: 1px solid rgba(42, 42, 42, 0.96);
  cursor: default !important;
}
#component.consoleMenu .ui.menu .item .icon {
  font-size: 14px;
  margin-right: 4px;
}
#component.consoleMenu .ui.menu .item.networkConnect .icon {
  color: rgba(27, 175, 26, 0.96) !important;
}
#component.consoleMenu .right.menu .item:first-child {
  padding-left: 10px;
}
#component.consoleMenu .right.menu .item {
  padding-right: 6px;
}
#component.consoleMenu .right.menu .item i {
  margin-right: 0px;
}
/*
 * COMPONENT: TEAM-PANEL
 */

i.doneGreen.check.icon {
  color: rgba(27, 175, 26, 0.96);
}

i.doneGreenDark.check.icon {
  color: rgba(27, 130, 26, 0.96);
}

div.doneGreen {
  color: rgba(27, 175, 26, 0.96);
}

div.doneRed {
  color: rgba(255, 0, 0, 0.96);
}

i.doneRed.close.icon {
  color: rgba(160, 0, 0, 0.96);
}

i.onlineColor.circle.link.icon {
  color: rgba(140, 110, 250, 1);
}

i.offlineColor.circle.outline.icon {
  color: #999999;
}

i.alarmColor.circle.link.icon {
  color: red;
}

span.alarm {
  color: red;
  font-style: italic;
}

span.offlineColor {
  color: #999999;
}

#component.teamPanel .ui.grid {
  margin: 0px 0;
}

#component.teamPanel .ui.grid>.row:last-child {
  border-bottom: none;
}
#component.teamPanel .ui.grid>.row:hover {
  background: rgba(40, 40, 40, 0.96);
}

#component.teamPanel .ui.grid>.active {
  background: rgba(50, 50, 51, 0.96);
  font-weight: bold;
}
#component .teamPanel > div > div.ui.inverted.segment > div {
  height: 100%;
  overflow-y: scroll;
}

#component.teamPanel .ui.grid .row .memberText {
  font-weight: 400;
  color: #cccccc;
}


/*
 * COMPONENT: TROUBLESHOOT-LAYOUT
 */
#component.troubleshootLayout #wrapper.troubleshootItems {
  margin: 0px;
  padding: 4px 1px;
}

#component.troubleshootLayout #wrapper.troubleshootPanelDefault {
  margin: 0px;
  padding: 21px 9px 0 9px;
}

/*
 * COMPONENT: TROUBLESHOOT-PANEL-DEFAULT
 */
#component.troubleshootPanelDefault .ui.grid{
  margin-bottom: -2rem;
}
#component.troubleshootPanelDefault .ui.grid .column.rootLayout {
  padding-top: 0;
  padding-bottom: 0;
}
#component.troubleshootPanelDefault .ui.grid .column.rootLayout.screenshot {
  padding-right: 1rem;
}
#component.troubleshootPanelDefault .ui.grid > .row {
  padding-bottom: 0;
}
#component.troubleshootPanelDefault .ui.button {
  cursor: pointer !important;
  transition: background-color 1s ease-out;
}
#component.troubleshootPanelDefault .ui.image.screenshot,
#component.troubleshootPanelDefault .ui.image.screenshot .ui.corner,
#component.troubleshootPanelDefault .ui.image.screenshot .ui.corner .icon
{
  cursor: pointer !important;
  padding-bottom: 0;
}


#component.troubleshootPanelDefault .ui.dropdown .default.text {
  font-style: italic;
  color: rgba(60, 60, 60, 0.96);
}
#component.troubleshootPanelDefault .ui.dropdown {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .ui.dropdown input {
  color: rgba(222, 222, 222, 0.96);
}

#component.troubleshootPanelDefault .ui.dropdown div.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#component.troubleshootPanelDefault .ui.dropdown .menu {
  max-height: 147px;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border-color: rgba(72, 72, 72, 0.96);
}
#component.troubleshootPanelDefault .focused .ui.dropdown {
  /*border: 1px solid rgba(100, 53, 201, 0.96);*/
  border: 1px solid red;
}
#component.troubleshootPanelDefault .focused .ui.dropdown .menu {
  /*border: 1px solid rgba(100, 53, 201, 0.96);*/
  border: 1px solid red;
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item {
  transition: background, color 0.420s ease-out;
  border-top: 1px solid rgba(72, 72, 72, 0.96);
  color: rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item:last-child {
  border-bottom: 1px solid rgba(72, 72, 72, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.item:hover {
  background: #2b2b2b;
  font-weight: 800;
  color: rgba(200, 200, 200, 0.96);
}
#component.troubleshootPanelDefault .ui.selection.dropdown .menu>.selected.item {
  /*background:rgba(100, 53, 201, 0.96);*/
  background: red;
  color: rgba(255, 255, 255, 0.96);
}
#component.troubleshootPanelDefault .ui.grid > .row.troubleshootPanelTextbox {
  /*padding-bottom: 10px;*/
  padding-top: 0;
}
#component.troubleshootPanelDefault .troubleshootPanelTextbox {
  width: 100%;
  height: 100%;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}
#component.troubleshootPanelDefault .troubleshootPanelMessage {
  height: 100%;
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  padding: 0 0 0 2rem;
}
.troubleshootPanelTextbox::-webkit-input-placeholder {
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox:-moz-placeholder { /* Firefox 18- */
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox::-moz-placeholder {  /* Firefox 19+ */
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}
.troubleshootPanelTextbox:-ms-input-placeholder {
  padding-left: 1%;
  padding-top: 1%;
  text-align: left;
}

#component.headerBar .headerTitle {
  text-align: left;
  font-weight: 400;
  font-size: 20pt;
}

#troubleshootChatInput {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
  color: rgba(241, 241, 241, 0.96);
}

#chatMessages{
  overflow-y: scroll;
  overflow-x: hidden;
}

#chatMessages > ul > li {
  list-style-type: none;
}

div .ui.inverted.segment.troubleshootChatBox {
  transition: border 0.840s ease-out;
  background: rgba(27, 28, 29, 0.96);
  color: rgba(241, 241, 241, 0.96);
  border: 1px solid rgba(74, 74, 74, 0.96);
}


/*
 * COMPONENT: JOURNAL-LAYOUT
 */
#component.journalLayout .ui.segments {
  margin: 0px;
}
#component.journalLayout #wrapper.journalItems {
  margin: 0px;
  padding: 4px 1px;
}
